@font-face {
  font-family: "EraserDust";

  src: url("./font/EraserDust.ttf") format("truetype");
}
body {
  background-image: url(./img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "EraserDust";
  color: #fff;
  height: 95vh;
}
h1 {
  color: #00ccc0;
}
#input {
  font-size: 2rem;
  color: #747f7f;
}
#add-btn {
  font-size: 2rem;
  background-color: #1b7f79;
  color: #fff;
  cursor: pointer;
}
.list-item {
  font-size: 2.3rem;
  word-wrap: break-word;
}
.del {
  color: #ff4858;
  background-image: url("./img/cross.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.done {
  font-size: 5rem;
  color: #1b7f79;
  background-image: url("./img/tick.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.progress {
  height: 2rem;
}
.progress-bar {
  background-color: #ff4858;
}
.progress-title {
  font-size: 2.3rem;
  color: #00ccc0;
}
q {
  font-size: 1.5rem;
}
.gray {
  color: #dfdfdf;
}
