@font-face {
  font-family: "EraserDust";

  src: url("./font/EraserDust.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-attachment: fixed;
  background-image: url(./img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "EraserDust";
  color: #fff;
  height: 95vh;
}
h1 {
  color: #00ccc0;
}
#input {
  font-size: 2rem;
  color: #747f7f;
}
#add-btn {
  font-size: 2rem;
  background-color: #1b7f79;
  color: #fff;
  cursor: pointer;
}
.list-item {
  font-size: 2.3rem;
  word-wrap: break-word;
}
.del {
  background-image: url("./img/cross-svgrepo-com.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
}
.done {
  background-image: url("./img/tick-svgrepo-com.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
}
.edit {
  background-image: url("./img/edit.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
}
.progress {
  height: 2rem;
}
.progress-bar {
  background-color: #ff4858;
}
.progress-title {
  font-size: 2.3rem;
  color: #00ccc0;
}
q {
  font-size: 1.5rem;
}
.gray {
  color: #dfdfdf;
}
.success-gif p {
  font-size: 3rem;
  color: #ff4858;
}
.line {
  background: transparent;
  border: none;
  color: #fff;
}
input:focus {
  outline: none;
}
